
.circle-green {
    background-color: rgb(23, 214, 55);
}

.circle-blue {
    background-color: rgb(25, 148, 219);
}

.circle-purple {
    background-color: rgb(179, 25, 240);
}

.circle-red {
    background-color: rgb(245, 19, 19);
}

.circle-yellow {
    background-color: rgb(200, 188, 8);
}

.circle-orange {
    background-color: rgb(238, 132, 12);
}

