<div fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-around center" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px" class="card">
    <mat-card fxFlex.gt-sm="25" fxFlex="100">
        <div fxLayout="row" fxLayoutGap="20px">
            <div class="circle circle-green" fxLayoutAlign="center center">
                <mat-icon>credit_card</mat-icon>
            </div>
            <div fxLayout="column" class="user-card">
                <h5>$12121</h5>
                <p>Income</p>
            </div>
        </div>
    </mat-card>
    <mat-card fxFlex.gt-sm="25" fxFlex="100">
        <div fxLayout="row" fxLayoutGap="20px">
            <div class="circle circle-blue" fxLayoutAlign="center center">
                <mat-icon>account_box</mat-icon>
            </div>
            <div fxLayout="column" class="user-card">
                <h5>2690</h5>
                <p>Users</p>
            </div>
        </div>
    </mat-card>
    <mat-card fxFlex.gt-sm="25" fxFlex="100">
        <div fxLayout="row" fxLayoutGap="20px">
            <div class="circle circle-purple" fxLayoutAlign="center center">
                <mat-icon>date_range</mat-icon>
            </div>
            <div fxLayout="column" class="user-card">
                <h5>20 March</h5>
                <p>My birthday</p>
            </div>
        </div>
    </mat-card>
    <mat-card fxFlex.gt-sm="25" fxFlex="100">
        <div fxLayout="row" fxLayoutGap="20px">
            <div class="circle circle-red" fxLayoutAlign="center center">
                <mat-icon>settings</mat-icon>
            </div>
            <div fxLayout="column" class="user-card">
                <h5>6540</h5>
                <p>Pending</p>
            </div>
        </div>
    </mat-card>
</div>