.circle-green {
    background-color: rgb(23, 214, 55);
}

.circle-blue {
    background-color: rgb(25, 148, 219);
}

.circle-purple {
    background-color: rgb(179, 25, 240);
}

.circle-red {
    background-color: rgb(245, 19, 19);
}


.user-card {
    h5 {
        color: #3b3b3b;
        font-size: 20px;
        margin: 0;
    }

    p {
        color: #858585;
        line-height: 22px;
        font-size: 16px;
        margin: 0;
    }
}