$container_color: #9c8c8c;
// .body{
//     position: relative;
// }

@mixin transform($x,$y) {
    transform: translate($x,$y);
}
.container {
    width: 600px;
    height: 400px;
    background-color: $container_color;
    position: relative;
    padding: 20px;
    top: 100px;
    left: 100px;
    //box-sizing: border-box;
}

.box1 {
    width: 200px;
    height: 150px;
    background-color: red;
    position: absolute;
    z-index: 1;
    // top: 50%;
    // left: 50%;
    // transform: translate(50%,50%);
    @include transform(50%, 50%)
}

.box2 {
    width: 200px;
    height: 150px;
    background-color: rgb(85, 175, 105);
    position: absolute;
    //transform: translate(50%,50%);
}

.example-spacer {
    flex: 1 1 auto;
}


.example-card {
    max-width: 400px;
    margin-bottom: 40px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
  