<div [class]="theme">
    <div>
        <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
                (click)="changeTheme()">
                <mat-icon>invert_colors</mat-icon>
            </button>
            <button mat-button [matMenuTriggerFor]="afterMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #afterMenu="matMenu" xPosition="before">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </mat-toolbar>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" style="margin: 0 auto; margin-top: 50px;">
        <div fxFlex="33">
            <mat-card style="margin-bottom: 40px;">
                <div>
                    <button mat-raised-button color="primary">Primary</button>
                    <button mat-raised-button color="accent">Accent</button>
                    <button mat-raised-button color="warn">Warn</button>
                </div>
            </mat-card>
        </div>

        <div fxFlex="33">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>


        <div fxFlex="33">
            <app-dashboard></app-dashboard>
        </div>
    </div>

</div>


<app-component-one></app-component-one>
<app-component-two></app-component-two>
<app-component-three></app-component-three>