<div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="20px" class="card">
    <mat-card fxFlex.gt-sm="25" fxFlex="100">
        <app-info-card [color]="'green'" [icon]="'credit_card'" [header]="'$12121'" [subHeader]="'Income'"></app-info-card>
    </mat-card>
    <mat-card fxFlex.gt-sm="25" fxFlex="100">
        <app-info-card [color]="'blue'" [icon]="'account_box'" [header]="'2690'" [subHeader]="'Users'"></app-info-card>
    </mat-card>
    <mat-card fxFlex.gt-sm="25" fxFlex="100">
        <app-info-card [color]="'purple'" [icon]="'date_range'" [header]="'20 March'" [subHeader]="'My birthday'"></app-info-card>
    </mat-card>
    <mat-card fxFlex.gt-sm="25" fxFlex="100">
        <app-info-card [color]="'red'" [icon]="'settings'" [header]="'6540'" [subHeader]="'Pending'"></app-info-card>
    </mat-card>
</div>